{% extends 'base.html' %}

{% block header %}

    {% include 'header.html' %}

{% endblock %}

{% block content %}
<div class="flex">
    {% include '_tools.html'%}
    <aside class="w-2/3 bg-gray-600 h-screen p-8 flex flex-col space-y-5">
        <form action="" class="w-full bg-gray-700 h-22 p-8 rounded-3xl container flex flex-wrap space-x-5 items-center justify-center">
            {{ form.csrf_token }}
            <p class="">
                {{ form.search(class='rounded-3xl bg-gray-300 h-9 px-4 text-black shadow-innerfocus:outline-none focus:ring ring-gray-400')}}
            </p>
            <p class="">
                {{ form.inpt(class='rounded-3xl bg-gray-300 h-9 px-4 text-black shadow-inner  focus:outline-none focus:ring ring-gray-400')}}
            </p>
            <p class="">
                {{ form.submit(class='block px-8 py-2.5 bg-gray-400 rounded-3xl cursor-pointer hover:bg-gray-500 active:bg-gray-600')}}
            </p>
        </form>
        {% for contact in contacts%}
            {% include '_contact.html' %}
        {% endfor %}
        <div class="pagination">
            {% if contacts.has_prev %}<a href="{{ url_for('find_contacts', page = contacts.prev_num) }}"><< Newer</a>{% else %}<< Newer{% endif %} | 
            {% if contacts.has_next %}<a href="{{ url_for('find_contacts', page = contacts.next_num) }}">Older >></a>{% else %}Older >>{% endif %}
        </div>
    </aside>

</div>
{% endblock %}