{% extends 'base.html' %}

{% block header %}

    {% include 'header.html' %}

{% endblock %}

{% block content %}
<div class="flex">
    <aside class="w-1/3 bg-gray-600 h-screen flex flex-col p-8">
        <a href="" class="container flex w-full bg-gray-700 p-6 rounded-3xl mb-8 shadow-lg hover:bg-gray-800">
            <div>
                <h1 class="text-2xl">Сontacts</h1>
            </div>
        </a>
    </aside>
    <aside class="w-2/3 bg-gray-500 h-screen p-8 flex flex-col">
            <form action="" class=" bg-gray-600 rounded-3xl p-6">
                <h1 class="text-4xl">Add new contact</h1>
                <div class="container flex flex-wrap items-center justify-between w-full"> 
                    <p class="grid">
                        <label for="">Name</label>
                        <input type="text" name="" id="" class="rounded-3xl bg-gray-300 h-9 px-4 text-black">
                    </p>
                    <p class="grid">
                        <label for="">Name</label>
                        <input type="text" name="" id="" class="rounded-3xl bg-gray-300 h-9 px-4" text-black>
                    </p>
                    <p class="grid">
                        <label for="">Name</label>
                        <input type="text" name="" id="" class="rounded-3xl bg-gray-300 h-9 px-4 text-black">
                    </p>
                    <p class="grid">
                        <label for="">Name</label>
                        <input type="text" name="" id="" class="rounded-3xl bg-gray-300 h-9 px-4 text-black">
                    </p>
                </div>
                <div class="my-4">
                    <p class="grid">
                        <label for="">Notice</label>
                        <textarea class="rounded-3xl h-24 bg-gray-300 h-32 p-6 text-black" ></textarea>
                    </p>
                </div>
                <input type="submit" name="" id="" class="block px-8 py-2.5 mt-4 bg-gray-300 rounded-3xl cursor-pointer hover:bg-gray-400 ">

            </form>
    </aside>
</div>
{% endblock %}